parameters:
	ignoreErrors:
		-
			message: "#^Method Nucleos\\\\DompdfBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\DompdfBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$loader with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\DompdfBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureRoutes\\(\\) has parameter \\$routes with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/BundleIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/BundleIntegrationTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/BundleIntegrationTest.php

