parameters:
    level: max

    paths:
        - src
        - tests

    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        # Symfony DI
        - '#Cannot call method defaultValue\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

        # PHPUnit
        -
            message: '#Property .*::\$.* has no typehint specified.#'
            path: tests/
