parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Symfony DI
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::fixXmlConfig\(\).#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::addDefaultsIfNotSet\(\).#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::arrayNode\(\).#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::scalarNode\(\).#'

        # PHPUnit
        - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9_]+ \(PHPUnit_Framework_MockObject_MockObject&[a-zA-Z0-9\\_]+\) does not accept PHPUnit_Framework_MockObject_MockObject.#'
        - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9_]+ \([a-zA-Z0-9\\_]+|PHPUnit_Framework_MockObject_MockObject\) does not accept PHPUnit_Framework_MockObject_MockObject.#'
        - '#Parameter \#\d+ \$[a-zA-Z0-9_]+ of method [a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) expects [a-zA-Z0-9\\_]+(\[\])?(\|null)?, ([a-zA-Z0-9\\_]+\|)?PHPUnit_Framework_MockObject_MockObject(\|[a-zA-Z0-9\\_]+)?(\[\])? given.#'
        - '#Parameter \#\d+ \$[a-zA-Z0-9_]+ of class [a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\) expects [a-zA-Z0-9\\_]+, ([a-zA-Z0-9\\_]+\|)?PHPUnit_Framework_MockObject_MockObject(\|[a-zA-Z0-9\\_]+)?(\[\])? given.#'
        - '#Parameter \#\d+ \$[a-zA-Z0-9_]+ of class [a-zA-Z0-9\\_]+ constructor expects [a-zA-Z0-9\\_]+(\|null)?, ([a-zA-Z0-9\\_]+\|)?PHPUnit_Framework_MockObject_MockObject(\|[a-zA-Z0-9\\_]+)?(\[\])? given.#'
